In [1]:
# Dados para download
Base_Dados_Nesse_Link = 'https://docs.google.com/spreadsheets/d/1r0_Vs5QX1ef5X1MZCbDg8kcqm-my3rSn/edit?usp=sharing&ouid=108903987275959757465&rtpof=true&sd=true'
print('Dados salvo no Google Driver')
print( Base_Dados_Nesse_Link )

Dados salvo no Google Driver
https://docs.google.com/spreadsheets/d/1r0_Vs5QX1ef5X1MZCbDg8kcqm-my3rSn/edit?usp=sharing&ouid=108903987275959757465&rtpof=true&sd=true

In [2]:
# Libs Necessárias

# Libs para Modelagem e Matrizez
import numpy as np
import pandas as pd

# Libs para anaálises gráficas
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go

# Lib para ignorar avisos
import warnings

# Desabilitando avisos
warnings.filterwarnings('ignore')

In [17]:
# Lendo os dados
Base_Dados = pd.read_html(Base_Dados_Nesse_Link, skiprows=1)[0]

In [24]:
# Ajustando Colunas
Base_Dados = Base_Dados[['Data','Maior','Menor','Abertura','Fechamento','Volume','Adj Close']]

In [16]:
# Verificando
Base_Dados.head()

       Data  Maior  Menor  Abertura  Fechamento      Volume  Adj Close
0  1/4/2021   2558   2487      2526        2520  25.706.100       2518
1  1/5/2021   2518   2434      2510        2476  25.431.900       2474
2  1/6/2021   2466   2342      2465        2346  51.799.000       2344
3  1/7/2021   2385   2295      2364        2316  42.146.600       2314
4  1/8/2021   2430   2302      2319        2384  43.988.100       2382

In [25]:
#Validando Tamanho do Arquivo
Base_Dados.shape

(99, 7)

In [26]:
#Verificando detalhes da Base
Base_Dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Data        99 non-null     object
 1   Maior       99 non-null     int64
 2   Menor       99 non-null     int64
 3   Abertura    99 non-null     int64
 4   Fechamento  99 non-null     int64
 5   Volume      99 non-null     object
 6   Adj Close   99 non-null     int64
dtypes: int64(5), object(2)
memory usage: 5.5+ KB

In [27]:
# Realizado analise Estatistica da Base
Base_Dados.describe()

             Maior        Menor     Abertura   Fechamento    Adj Close
count    99.000000    99.000000    99.000000    99.000000    99.000000
mean   2306.595960  2223.848485  2268.666667  2262.919192  2261.242424
std     243.868144   232.412343   238.091819   240.299374   239.903216
min    1878.000000  1825.000000  1855.000000  1853.000000  1852.000000
25%    2068.500000  1995.000000  2031.000000  2025.000000  2024.000000
50%    2385.000000  2295.000000  2350.000000  2310.000000  2308.000000
75%    2514.000000  2419.500000  2480.500000  2488.000000  2486.000000
max    2707.000000  2590.000000  2625.000000  2624.000000  2622.000000

In [28]:
# Series Temporais
Dados = Base_Dados.set_index('Data')

Dados.head()

          Maior  Menor  Abertura  Fechamento      Volume  Adj Close
Data
1/4/2021   2558   2487      2526        2520  25.706.100       2518
1/5/2021   2518   2434      2510        2476  25.431.900       2474
1/6/2021   2466   2342      2465        2346  51.799.000       2344
1/7/2021   2385   2295      2364        2316  42.146.600       2314
1/8/2021   2430   2302      2319        2384  43.988.100       2382