## Slicing de DataFrames do Pandas

In [4]:
import pandas as pd
# Cria um dicionário
dados = {'Estado': ['Santa Catarina', 'Rio de Janeiro', 'Tocantins', 'Bahia', 'Minas Gerais'], 
         'Ano': [2004, 2005, 2006, 2007, 2008], 
         'Taxa Desemprego': [1.5, 1.7, 1.6, 2.4, 2.7]}
# Criando outro dataframe com os mesmo dados anteriores mas adicionando uma coluna
df2 = pd.DataFrame(dados, 
                columns = ['Estado', 'Taxa Desemprego', 'Taxa Crescimento', 'Ano'], 
                index = ['estado1', 'estado2', 'estado3', 'estado4', 'estado5'])

In [5]:
# Definindo Quais linhas deseja ver da Linha x até a y 
df2['estado2':'estado4']

                 Estado  Taxa Desemprego Taxa Crescimento   Ano
estado2  Rio de Janeiro              1.7              NaN  2005
estado3       Tocantins              1.6              NaN  2006
estado4           Bahia              2.4              NaN  2007

In [7]:
# Realizado a visualização com filtragem condicional tudo que Taxa Desemprego for menor que 2
df2[ df2['Taxa Desemprego'] < 2 ]

                 Estado  Taxa Desemprego Taxa Crescimento   Ano
estado1  Santa Catarina              1.5              NaN  2004
estado2  Rio de Janeiro              1.7              NaN  2005
estado3       Tocantins              1.6              NaN  2006

In [10]:
# Seleciona um unico registro de uma coluna do Dataframe
df2['Ano'][1]

C:\Users\ezequ\AppData\Local\Temp\ipykernel_6480\256198357.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df2['Ano'][1]

2005

In [13]:
# Seleciona um faixa de uma coluna do Dataframe do X ao Y
df2['Ano'][0:3]

estado1    2004
estado2    2005
estado3    2006
Name: Ano, dtype: int64

In [38]:
# Seleciona um faixa de uma string para extrair apenas alguns caracteres de uma linha do dataframe
print(df2['Estado'][1][0:3])

Rio

C:\Users\ezequ\AppData\Local\Temp\ipykernel_6480\3461715253.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df2['Estado'][1][0:3])